doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

   if user
      p
        |Hello #{user.displayName}
        ||
   else
      p
        a(href="/auth/linkedin") Login
       button(type="input") 
        a(href="/logout") Logout

  block content
